<div class="navbar">
  <ul class="navlinks">
    <li class="navlink left-flex"><a href='/'>Home</a></li>
    <% if (currentUser) { %>
    <li class="navlink right-flex"><a href='/logout'>Log Out</a></li>
    <li class="navlink right-flex"><a href='/report'>Reports</a></li>
    <% } else { %>
    <li class="navlink right-flex"><a href='/login'>Log In</a></li>
    <% } %>
  </ul>
</div>
<% if (error && error.length > 0) { %>
  <div class="wrapper">
    <div class="alert alert-danger"><%= error %></div>
  </div>
<% } %><% if (success && success.length > 0) { %>
  <div class="wrapper">
    <div class="alert alert-success"><%= success %></div>
  </div>
<% } %>
