<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="wrapper">
  <h1 class='title'>QL Check-In System</h1>
  <div class="all-button-wrapper">
    <div class="punch-buttons-wrapper">
      <a href='/in' class="no-text-dec">
        <div class="punch-in punch-button">
            Punch In
        </div>
      </a>
      <a href='/out' class="no-text-dec">
        <div class="punch-out punch-button">
            Punch Out
        </div>
      </a>
    </div>
    <div class="new-student-wrapper">
      <a href='/students/new' class="no-text-dec">
        <div class="new-student-button">
          New Student
        </div>
      </a>
    </div>
  </div>
</div>

<% include ./partials/footer %>
