<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="wrapper">
  <h1 class='login-title'>Login</h1>
  <form action="/login" method='POST' class='login-form'>
    <input type="text" name='username' placeholder="Username" autofocus>
    <input type="password" name='password' placeholder="Password">
    <button>Log In</button>
  </form>
</div>


<% include ./partials/footer %>
