* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

.container {
  font-size: 1.8rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 100rem;
  padding: 1.3rem;
}

.all-button-wrapper {
  background: #f2f2f2;
  border-radius: 2rem;
  min-height: 40rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.title {
  font-size: 8rem;
  text-align: center;
  margin: 7rem 2rem;
}

.show-title {
  font-size: 6rem;
  text-align: center;
  margin: 3rem
}

.subtitle {
  font-size: 3.2rem;
}

.punch-button {
  height: 10rem;
  min-width: 15rem;
  border-radius: 2rem;
  text-align: center;
  vertical-align: middle;
  line-height: 10rem;
  padding: 2rem 3rem;
  color: white;
}

.punch-buttons-wrapper {
  display: flex;
  justify-content: space-around;
  font-size: 4rem;
}

.no-text-dec {
  text-decoration: none;
}

.punch-in {
  background: #359B18;
}

.punch-out {
  background: #EF233C;
}

.new-student-wrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  font-size: 2.4rem;
}

.new-student-button {
  color: white;
  background: #54A0D3;
  height: 5rem;
  min-width: 7rem;
  border-radius: 2rem;
  line-height: 5rem;
  text-align: center;
  vertical-align: middle;
  padding: 1.6rem 2.2rem;
}

.navlinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navlink {
  float: left;
}

.navlink a {
  font-size: 2rem;
  display: block;
  color: white;
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
}

.navlink:hover {
  background-color: #111;
}

.right-flex {
  float: right !important;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1.8rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-success .alert-link {
  color: #0b2e1
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger hr {
  border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
  color: #491217;
}

.alert-link {
  font-weight: 700;
}

.login-title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.login-form input, .login-form button {
  font-size: 2rem;
  margin-right: 2rem;
  padding: 1rem;
}

.login-form button {
  background-color: #54A0D3;
  color: white;
  border-radius: 0.8rem;
  border: none;
}

.back-to-home-btn {
  font-size: 3rem;
  margin-bottom: 5rem;
}
