<!DOCTYPE html>
<!--
TODO:
  - Get list of faculty and add to multi-select
  - Get list of sports and add to multi-select
 -->
<html>
<head>
  <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Coker QL Check-In</title>
      <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>New Student</h1>
      </div>
      <div class="col-12 text-center">
        <p>Complete the form below to add a new student.</p>
      </div>
    </div>
    <form action="/students/new" method="POST">
      <div class="form-group">
        <label for="sid">Student ID#</label>
        <small class="form-text text-muted">SCAN the Student ID - do NOT type by hand!</small>
        <input type="text" class="form-control" id="sid" name="sid" autofocus>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="faculty">Select the professor(s) you would like to be notified of your attendance</label>
        <small class="form-text text-muted">Hold Control (or Command on Mac) to select multiple people.</small>
        <select multiple size="8" class="form-control" id="faculty" name="faculty">
          <option>Cuppett</option>
          <option>Bastean</option>
          <option>Henderson</option>
          <option>Carpenter</option>
          <option>Parkinson</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sports">If you are a Coker student-athlete, select the sport(s) you play</label>
        <small class="form-text text-muted">Hold Control (or Command on Mac) to select multiple sports.</small>
        <select multiple size="8" class="form-control" id="sports" name="sports">
          <option>Basketball</option>
          <option>Baseball</option>
          <option>Softball</option>
          <option>Lacrosse</option>
          <option>eSports</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>
